
.container{
  margin-top: 25px;
  border: 2px solid #879cc2;
  border-radius: 10px;
  width: 1000px;
  .chatTitleDone {
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #006666;
    margin: 5px;
    display: flex;
    align-items:center;
    justify-content: center;
    .icon{
      margin: 0 10px;
      width: 25px;
      height: 25px;
      cursor: pointer;
    }
  }
  .chatTitleEdit {
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #006666;
    margin: 5px;
    display: flex;
    align-items:center;
    justify-content: space-between;
    .inputNewTitle{
      all: unset;
      width: 1950px;
    }
    .icon{
      margin: 0 10px;
      width: 25px;
      height: 25px;
      cursor: pointer;
    }
  }
}
