.container{
  border: 2px solid #78efef;
  display: inline-flex;
  flex-direction: column;
  border-radius: 20px;
  max-width: 270px;
  min-width: 80px;
  margin-top: 10px;
  .name{
    display: flex;
    justify-content: flex-start;
    margin: 3px;
    font-weight: 500;
    font-size: 12px;
    color: #006666;
  }
  .messageText{
    display: flex;
    justify-content: center;
    word-break: break-word;
    font-weight: 400;
    font-size: 15px;
    color: #006666;
    margin: 0 5px;
  }
  .time{
    display: flex;
    justify-content: flex-end;
    margin: 3px;
    font-weight: 500;
    font-size: 12px;
    color: #006666;
  }
}